*{margin: 0;padding: 0;}
header{
	width:100%;
	height: 80px;
	background:#25b887;
	}
body{
	background: #f1f1f1;
}
#headerTop{
	width:1180px;
	margin: 0 auto;
    padding: 0 10px;
    background:#25b887;
    position: relative;
    
}
#headerTop .logo img{
	padding-top: 22px;
	
}
#headerTag span{
	float:left;
	line-height: 80px;
	padding: 0 15px;
	color: #d6f8e4;
	cursor: pointer;
}
#headerList li{
	float:left;
	line-height: 80px;
	padding: 0 15px;
	list-style: none;
	color: #d6f8e4;
	cursor: pointer;
}
#headerList li:hover{
	    color: #fff;
    background: #0f9d6d;
}
#headerTag{
	position: absolute;
	top: 0;
	left: 250px;
	
	height: 80px;
}
#headerList{
	width: 734px;
	height: 80px;
	float: left;
}

#headerList .List2 {
	display: none;
}
#headerList .List2 li{
	clear: both;
	    margin: 0;
    line-height: 30px;
    display: block;
    float: none;
    color: #666;
    cursor: pointer;
    padding: 0;
    text-align: center;
        font-size: 14px;
        z-index: 10;
        position: relative;
}
#headerList .List2 li:hover{
	    color: #25b887;
	    background:  #d6f8e4;
}
#show{
	    position: absolute;
    width: 100%;
    height: 160px;
    background: #eafbf5;
    opacity: .9;
    left: 0;
    top: 80px;
    z-index: 9;
    display: none;
}












nav{
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0 2px 5px #d9dfdc;
}
#navList{
	height: 50px;
	width: 1180px;
	padding: 0 10px;
	margin: auto;
}
#navList ul{
	height: 50px;
	list-style: none;
}
#navList ul li{
	line-height: 50px;
	
	margin-right: 40px;
	float: left;
	font-size: 14px;
	color: #555555;
	cursor: pointer;
}
#navList ul .navLiActive{
	color:#25b887;
}
#surveyPicInfo{
	width: 1180px;
	padding: 0 10px;
	margin: auto;
	height: 80px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.xj_top{
	width: 1180px;
	padding: 2px 10px 10px;
	margin: auto;
	font-size: 14px;
	color: #666;
	
}
.find_xj{
	color: #333;
    padding-right: 20px;
   color: #333;
}
.xj_num{
	    font-size: 16px;
    color: #25b887;
    margin: 0 4px;
}
.xj_top a{
	    color: #2c74c4;
		text-decoration: none;
}
.xj_top a:hover{
	text-decoration: underline;
}
.clearfix{
	zoom: 1;
	width: 1180px;
	margin: auto;
	height: 538px;
	/*border: 1px solid red;*/
	font-size: 14px;
}
/*主体功能*/
#m-left{
	float: left;
    display: inline;
    width: 910px;
    height: 508px;
    box-shadow: -1px 0 3px #e7ebe9, 1px 0 3px #e7ebe9, 0 -1px 1px #eef3f1, 0 1px 5px #dce1df;
    background: #fff;
    margin-bottom: 10px;
    padding: 10px 0;
    position: relative;
}
#m-right{
	height: 528px;
	float: right;
    display: inline;
    width: 250px;
        box-shadow: -1px 0 3px #e7ebe9, 1px 0 3px #e7ebe9, 0 -1px 1px #eef3f1, 0 1px 5px #dce1df;
    background: #fff;
    margin-bottom: 10px;
}
.mb-title{
	    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 16px;
    color: #fff;
    background: #66cdab;
    display: inline-block;
}
.mb-title-a{
	position: absolute;
    top: 20px;
    right: 20px;
    color: #3c7dc6;
    
}
.mb-title-a a{
	text-decoration: none;
	color: #2c74c4;
}
.xj-l-m{
	/*border: 1px solid yellow;*/
	
	padding-top: 1px;
}
.xj-m-left{
	float: left;
    padding: 0 45px;
    width: 120px;
    margin-top: 30px;
    text-align: center;
    border-right: 1px solid #e6e6e6;
}

.xj-m-right{
	padding: 0 10px 10px 20px;
    width: 660px;
    float: left;
   
    margin: 30px 0 10px;
}
.mb-table{
	    width: 100%;
	    border-spacing: 0;
    border-collapse: collapse;
}
.mb-table th{
	    color: #999;
    text-align: right;
        border: 0;
    padding: 0;
    line-height: 20px;
    padding: 11px 8px 11px 0;
    font-weight: 400;
    vertical-align: top;
}
.mb-table td{
	    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
        border: 0;
    padding: 0;
    line-height: 20px;
    padding: 11px 8px 11px 0;
    font-weight: 400;
    vertical-align: top;
}
/*right1*/
.m-r-1{
	    border-bottom: 1px solid #f0f0f0;
    margin: 0 10px;
    padding: 16px 4px;
    height: 91px;
}
#m-right h4{
	float: left;
	width: 99px;
	font-size: 14px;
	padding-top: 2px;
}
#m-right .mp1{
	float: left;
	    color: #999;
    font-size: 12px;
}
#m-right .mp1 .ms1{
	color: #ff7200;
	
font-weight: bolder;
font-size: 16px;
	
}
#m-right .mp2{
	clear: both;
	line-height: 50px;
}
#m-right .ms2{
	padding: 4px 12px;
	background: #25b887;
	color: #FFFFFF;
	cursor: pointer;
}
#m-right .ms2:hover{
	background: #209f74;
}
.m-r-2{
	    border-bottom: 1px solid #f0f0f0;
    margin: 0 10px;
    padding: 16px 4px;
    height: 110px;
}
#m-right .m2s{
	color: #25b887;
}
#m-right .m2p{
	clear: both;
	color: #999;
	line-height: 30px;
}
#m-right .rs{margin-left: 20px;}
#m-right .btns2{position: relative;top: 10px;}
.m-r-3{
	    border-bottom: 1px solid #f0f0f0;
    margin: 0 10px;
    padding: 16px 4px;
    height: 91px;
}
#m-right .m4p{
	clear: both;
}
#m-right .m4p{
	line-height: 50px;
	color: #999;
}
.m-r-4{
	 padding: 16px 4px;
}
#m-right .m-4-p1{
	    font-size: 18px;
    line-height: 38px;
        color: #666;
        text-align: center;
}
.m-r-4 a{
	    display: block;
    width: 160px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #25b887;
    margin: 10px auto;
    font-size: 16px;
    color: #25b887;
    text-decoration: none;
        text-align: center;
}
.m-r-4 a:hover{
	    text-decoration: none;
    background: #25b887;
    color: #fff;
}

#sverce{
	width: 1180px;
	margin:10px auto;
	    box-shadow: -1px 0 3px #e7ebe9, 1px 0 3px #e7ebe9, 0 -1px 1px #eef3f1, 0 1px 5px #dce1df;
    background: #fff;
    
   
}
#s-headp{
	    font-size: 24px;
    line-height: 30px;
    padding-top: 20px;
    text-align: center;
}
#s-content{
	width: 1120px;
	padding: 10px 30px ;
}
.des{
	    line-height: 26px;
    color: #666;
    padding-bottom: 3px;
    font-size: 14px;
}
.zyrbox{
	    padding: 10px 0;
    border-bottom: 1px dashed #e3e3e3;
    font-size: 14px;
}
.zyrbox .question-num {
    display: inline-block;
    width: 22px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    background: #25b887;
    color: #fff;
    font-weight: 700;
    margin-right: 6px;
    margin-bottom: 2px;
}
.zyrbox{width: 100%;}
.zy-content {
    margin-top: 8px;
    margin-left: 32px;
        list-style: none;
            color: #333;
    text-align: left;
    width: 100%;
    height: 26px;
}
.zy-content li {
    margin-right: 40px;
    width: auto;
    float: left;
}
.text-c {
    text-align: center;
    margin-bottom: 10px;
}

.margint20 {
    margin-top: 20px;
}
.green-btn{
	    padding: 0 30px;
    color: #fff;
    text-align: center;
    background: #25b887;
    border: none;
    cursor: pointer;
        height: 44px;
    line-height: 44px;
    padding: 0 30px;
    font-size: 16px;
}
.green-btn:hover{
	    background: #209f74;
    text-decoration: none
}

.footer {
	margin-top:20px ;
    background: #fff;
    width: 100%;
    min-width: 1180px;
    text-align: center;
    color: #a8a8a8;
    line-height: 80px;
    height: 80px;
	font-size: 14px;
}
.footer a {
    color: #666;
    font-size: 14px;
    text-decoration: none;
}